* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1024px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;   
}

header {
    width: 1024px;
    height: 50px;
    background-color: #191992;
    border-bottom: 2px solid #000;
}

header h1 {
    width: 38%;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    text-shadow: 2px 1px #3f3f3f;
}

nav ul {
    list-style-type: none;
    float: left;
    width: 58%;
}

nav ul li {
    padding: 5px;
    background-color: #b9b9b9;
    border-style: outset;
    margin-top: 7px;
    margin-right: 4px;
    float: left;
}

nav ul li:hover {
    border-style: inset;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 76%;
    margin-right: 10px;
    float: left;
}

.container h2 {
    margin: 5px auto 7px auto;
    text-decoration: underline;
}

.container article {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    float: left;
}

.container article #p2 {
font-weight: bold;
color: #191992;
}

.container article img {
    margin-top: 10px;
}

aside {
    width: 20%;
    float: right;
    margin-top: 5px;
}

aside ul {
    margin: 25px;
    margin-top: 10px;
    color: #191992;
}

aside ul ol {
    margin: 5px;
    margin-left: 10px;
    color: #000;
}

footer {
    position: absolute;
    bottom: 15px;
    width: 1024px;
    color: #3f3f3f;
    border-top: 1px solid #000;
}

footer p {
    margin-top: 8px;
}