body {
    width: 1024px;
    font-family: sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
}

h1 {
    width: 38%;
    float: left;
}

nav ul {
    list-style-type: none;
    float: left;
    width: 58%;
}

nav ul li {
    margin: 10px;
    float: left;
}

.container {
    width: 76%;
}

.container article {
    width: 38%;
    float: left;
}

aside {
    width: 17%;
    float: right;
}